/* Font & Colors and Imports */
/* _____________________________________________________________________________________________________________ */

/* Font */
@font-face {
  font-family: "AvantGardeGothicMedium";
  src: url(../fonts/Medium.otf);
}

/* Normal */
:root {
  --white: #ffffff;
  --grey: #dfe4e5;
  --mint: #d4e9db;
  --green: #46aa64;
  --navy: #0a3250;
  --black: #000000;
  --red: #ff0000;
}

/* Accessibility */

@media (prefers-contrast: more) {

  :root {
    --green: #135c29;
  }
}

/* Elements */
/* _____________________________________________________________________________________________________________ */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  background-color: var(--white);
}


body,
input,
textarea,
select {
  font: normal normal normal 16px/1.5 "AvantGardeGothicMedium";
}

input,
textarea,
select {
  border-radius: 4px;
  border: 2px solid var(--grey);
  padding: 4px 8px;
}

span {
  color: var(--green);
}

ul, li, a {
  list-style-type: none;
  text-decoration: none;
  color: unset;
}

/* Header */
/* _____________________________________________________________________________________________________________ */

header {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__branding {
  margin: 0.6em;
  font-size: 1.6em;
  font-weight: bold;
}

.header__icon {
  margin: 0.6em;
  height: 32px;
  width: 32px;
}

.header__nav a {
  border-bottom: 2px solid var(--grey);
  padding: 0.6em;
}

.header__nav a:first-of-type {
  border-top: 2px solid var(--grey);
}

.header__nav a:last-of-type {
  border-bottom: none;
}

.header__nav {
  display: flex;
  max-height: 0;
  width: 100%;
  flex-direction: column;
  text-align: center;
  transition: max-height .3s ease-in-out;
  overflow: hidden;
}

.header__nav--visible {
  max-height: 22vh;
}

/* Main */
/* _____________________________________________________________________________________________________________ */



/* Contact */
/* _____________________________________________________________________________________________________________ */

form {
  width: 80vw;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  font-size: 1.2em;
}

form label,
input[type="submit"] {
  margin-top: 1.4em;
}

input[type="submit"] {
  background-color: var(--green);
  color: var(--white);
  border: none;
  padding: 0.4em;
  margin: 1.2em 0;
  cursor: pointer;
}

img {
  width: 100%;
  filter: hue-rotate(290deg);
}

.contact__thanks {
  text-align: center;
  margin-top: 6em;
  margin-bottom: 6em;
}

.form__invalid {
  display: none;
  color: var(--red);
  font-size: 0.8em;
}

.form__invalid--visible {
  display: block;
  border: 2px solid var(--red);
}

.form__invalid--message {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-size: 0.9em;
}

.form__title {
  margin-bottom: 0;
  font-size: 1em;
}

.form__description {
  margin-top: 0;
  font-size: 0.8em;
}

/* Footer */
/* _____________________________________________________________________________________________________________ */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--navy);
  color: var(--white);
  padding: 2em;
}

footer img {
  width: 32px;
  width: 32px;
  filter: invert(100%) sepia(6%) saturate(24%) hue-rotate(141deg) brightness(106%) contrast(105%);
}

footer h4 {
  font-size: 2em;
  margin: 1em;
  margin-top: 0;
}

.footer__social-links {
  display: flex;
  width: 80vw;
  justify-content: space-around;
  padding-bottom: 1.4em;
  margin-bottom: 1.4em;
  border-bottom: 2px solid var(--white);
}

.footer__social-links a {
  height: 32px;
  width: 32px;
}

.footer__corporate-links {
  display: flex;
  flex-direction: row;
}

.footer__corporate-links a {
  padding: 0 1em;
}

.footer__corporate-links a:not(:last-child) {
  border-right: 2px solid var(--white);
}

/* Media Queries */
/* _____________________________________________________________________________________________________________ */

/* Size M Device - Tablet */

@media (min-width: 768px) and (max-width: 1023px) {

  /* Header */

  .header__branding {
    font-size: 2.4em;
  }

  .header__icon {
    width: 48px;
    height: 48px;
  }

  .header__nav a {
    font-size: 1.4em;
  }

  /* Footer */

  .footer__social-links {
    justify-content: center;
    gap: 4em;
    width: 50vw;
  }

  /* Contact */
  form {
    font-size: 1.4em;
  }

  .form__title {
    margin-top: 2em;
    margin-bottom: 0;
    font-size: 1.2em;
  }
  
  .form__description {
    margin-top: 0;
    font-size: 1em;
  }
}

/* Size L-XL Device - Laptop-Desktop */

@media (min-width: 1024px) {
  /* Header */

  .header__top {
    padding: 1em 6em;
  }

  .header__branding {
    font-size: 2em;
    margin: 0.6em 0;
  }

  .header__branding:hover {
    cursor: pointer;
  }

  .header__icon {
    width: 42px;
    height: 42px;
    margin: 0;
  }

  .header__icon:hover {
    cursor: pointer;
  }

  .header__nav {
    font-size: 1.4em
  }

  .header__nav--visible {
    max-height: 30vh;
  }

  .header__nav--visible a:hover {
    color: var(--green);
    text-decoration: underline;
    transition: 0.4s;
  }

  /* Footer */

  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* padding: 3em 17em; */
    padding: 3em 6em
  }

  footer a:hover {
    text-decoration: underline;
  }

  footer img:hover {
    filter: invert(60%) sepia(6%) saturate(24%) hue-rotate(141deg) brightness(106%) contrast(105%);
    transition: 0.4s;
  }

  .footer__social-links {
    justify-content: center;
    align-items: center;
    gap: 2em;
    border-bottom: none;
    padding: 0;
    margin: 0;
    width: unset;
  }

  /* Contact */
  form {
    width: 40vw;
  }

  .form__title {
    font-size: 2em;
  }

  .form__description {
    font-size: 1.4em;
  }

}